.AdminNavigator{
    background:linear-gradient(135deg,#0681b9,#f80759);
    padding-top: 10px;
    font-family: sans-serif;
    list-style: none;
}

.Navbtn{
    background-color: rgb(19, 206, 44);
}


