/* This page contains the css of the admin home page */
.Row{
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    padding: 5px;
    max-width: 100%;
}

.heading{
    text-align: center;
}

.profile{
    height: 100px;
    width: 100px; 
    padding-bottom: 10px;
  }

.containerH{
    background: linear-gradient(135deg,#0681b9,#f80759);
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formH{
    background-color: black;
    min-width: 500px;
    min-height: 200px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 30px;
}

.AdminHomebtn{
    font-size: 15px;
    color: white;
    border-radius: 25px;
    border-color: black;
    background:linear-gradient(135deg,#0681b9,#f80759);
    padding: px 20px;
}