.headingC{
    background-color: black;
    color: #f8074f;
    font-size: 30px;
}

.transfer{
    height: 100px;
    width: 100px; 
  }

.containerC{
    background: linear-gradient(135deg,#0681b9,#f80759);
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formC{
    background-color: black;
    min-width: 350px;
    min-height: 400px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 30px;
}

.deedId,
.newLawyerEmail,
.newSellerEmail{
    margin: 20px;
    color: white;
    font-size: 16px;
}

.inputC{
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 10%;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: 2px solid black;
    margin-bottom: 10px;
}

.buttonC{
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    border-radius: 25px;
    border-color: black;
    background:linear-gradient(135deg,#0681b9,#f80759);
    padding: 8px 40px;
}

.changelawyeremailalert{
    color: red;
}

.refreshbtnCLS{
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    border-radius: 25px;
    border-color: black;
    background:linear-gradient(135deg,#0681b9,#f80759);
    padding: 8px 25px;
}

.refresh{
    padding-top: 15px;
}