/* Lawyer sign up css file */
.headingLS{
    background-color: black;
    color: #f8074f;
    font-size: 30px;
}

.lawyercount{
    background-color: black;
    color: #f8074f;
    font-family:'Tahoma';
    font-weight: bold;
    padding-bottom: 20px;
}

.formLS{
    background-color: black;
    min-width: 350px;
    min-height: 600px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 30px;
}

.containerLS {
    background: linear-gradient(135deg,#0681b9,#f80759);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .containerLS,
  .nameLS,
  .nicLS,
  .registrationLS,
  .emailLS,
  .telephoneLS{
    margin: 20px;
    color: white;
    font-size: 16px;
  }

  .buttonLS{
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    border-radius: 25px;
    border-color: black;
    background:linear-gradient(135deg,#0681b9,#f80759);
    padding: 8px 40px;
}

.inputLS{
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 10%;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: 2px solid black;
    margin-bottom: 10px;
}

.emailval{
    color: #db1515;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lawyer{
    height: 120px;
    width: 100px; 
  }

  .refreshbtnLS{
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    border-radius: 25px;
    border-color: black;
    background:linear-gradient(135deg,#0681b9,#f80759);
    padding: 8px 25px;
}

.refresh{
    padding-top: 15px;
}